{{ $imgPath := .Destination }}
{{ $isExternal := or (hasPrefix $imgPath "http://") (hasPrefix $imgPath "https://") }}
{{ if not $isExternal }}
  {{ if not (hasPrefix $imgPath "/") }}
    {{ $imgPath = path.Join "/" .Page.File.Dir $imgPath }}
  {{ end }}
  {{ $imgPath = $imgPath | strings.TrimPrefix "/" | relURL }}
{{ end }}
{{ if .Title }}
  <figure>
    <img src="{{ $imgPath | safeURL }}" alt="{{ .Text }}">
    <figcaption>{{ .Title }}</figcaption>
  </figure>
{{ else }}
  <img src="{{ $imgPath | safeURL }}" alt="{{ .Text }}">
{{ end }}